@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", serif;
  }

  :root{
    --btnColor: #01F0D0;
    --txtColor: #072635;
    --backgroundColor: #FFFFFF;
    --ActiveState: #01F0D0;
  }

  body {
    background: #F6F7F8;
    padding: 1rem 1rem 1rem;
  }

  .section{
    padding: 2rem 0 2rem;
  }

  .flex{
    display: flex;
    align-items: center;
  }

  .grid {
    display: grid;
    align-items: center;
  }

  html {
    scroll-behavior: smooth;
  }

  .btn {
    padding: 0.6rem 1.5rem;
    background-color: var(--btnColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .btn a{
    color: var(--txtColor);
    font-weight: 500;
  }

  
  .btn:hover{
    background: var(--secondaryColor);
  }

  .container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

